/* styling for the header element*/
header {
  align-items: center; 
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/*  styling for the main element (the same styling as div_body)*/
main {
  background-color: floralwhite;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* relates to the title of all pages, offers consistency for all pages  */
#header_title {
  margin: 0;
  text-align: center;
  flex: 1;
  /* the padding levels the h1 element by 51px because the menu is 41px + the 10px margin */
  padding-right: 51px;
  color: black;
  text-decoration: none;
}


/* involves a basic colour gradient to stylistically improve site */
html{
  background: linear-gradient(to top, #11998e, #38ef7d);
}

/* section tag used to box specific parts of text and imaging that are related to each other */
section {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-clip: padding-box; /* This ensures the background gradient extends to the border */
  display: flex;
  align-items: flex-start;
}

/* the main div to be used for most pages involving text (refer to main.html for an example). used to offer further consistency */
/* to be used for subtitles and things outside of the main element (the main element has the same properties applied to .div_body) */
.div_body {
  background-color: floralwhite;
  margin-top: 10px; 
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* footer used to display misc information. */
footer {
  background-color: floralwhite;
  margin-top: 10px; 
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* CSS styling for different text elements */
h1, h2, h3, p, li, footer, label, input, button, .drawer, ul, li, .events-Header, .event, .events-container, .teams-header, .team, .teams-container{
  font-family: arial;
}


h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: left;
  margin-left: 10px;

}

li {
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

/* code to keep consistency within all the descriptions of pages */
.desc-align  {
  text-align: center;
}

/* CSS styling for the sliding nav bar function */
.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: floralwhite;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  font-weight: bold;
}

/* manipulates the text in the nav bar drawer */
.drawer a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* used to change the color of links when hovering over links in the nav bar */
.drawer a:hover { 
  color: #0AA851;
}

/* affects the nav bar drawers close button */
.drawer .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* refers to nav bar button (refer to main.html on top left of page for example) */
.drawer-btn {
  font-size: 36px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-flex;
}

/* animation for the different pages to fade in */
.nav-fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

/* animation for the different pages to fade in instead of popping into existance*/
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

                                            /* earlyHistory.html stuff

/* used in earlyHistory.html for image styling */
.image-Container1, .image-Container2, .image-Container3, .image-Container4, .image-Container5 {
  display: flex;
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  height: 350px;
  width: 300px;
  cursor: pointer;
  position: relative;
}

/* used in earlyHistory.html for text styling */
.text-Container1, .text-Container2, .text-Container3, .text-Container4, .text-Container5 {
  align-items: center;
  opacity: 0;
  transition: opacity 1.0s ease;
  left: 650px;
  /* margins are so high to be able to center the text properly within the sections with relation to the images */
  margin-right: 200px;
  margin-left: 400px;
}
/* used in earlyHistory.html for text styling to fade in text */
.fade-in {
  opacity: 1;
}
                                              /* celticQuiz.html stuff */


/* styling for individual questions */
.question {
  text-align: center;
}

/* styling for question text */
.question p {
  text-align: center;
}


/* styling for option labels */
.question label {
  margin: 10px 10px;
  font-size: 24px;
}

/* styling for the submit button */
.question button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
}

.question button:hover {
  background-color: grey;
}

                                          /* KIT HISTORY PAGE CSS */
/* styling for kit year */
.kit-year {
  margin-left: 20px;
  display: block;
}

/* styling for kit images */
.kit-images {
  width: 250px;
  height: 200px;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
  display: block;
}

/* styling for kit description */
.kit-desc {
  clear: right; /* Clears the float so the text appears below the images */
  text-align: center;
  margin-right: 130px;
  display: inline-flex;
}

                                        /* TEAMTRACKER PAGE CSS */

/* styling for the wrapper containing the events-contsainer and teams-container (used to make a border box around both)*/
.container-wrapper {
  border: 2px solid black;
  box-sizing: content-box;
  margin: 10px;
}

/* styling for the whole container that includes everything */
.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* enables scrolling if content exceeds the container height */
}

/* styling for the events header */
.events-header {
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Bold font */
  margin-bottom: 20px; /* Margin below the header */
}

/* container holding events styling */
.events-container {
  float: right;
  width: calc(50% - 10px); /* sets the width for the events container */
  margin-right: 100px; /* closes some between teams and events */
}

/* styling for each event */
.event {
  margin-bottom: 30px; /* to give some more space between the events*/
  text-align: center;
  border-bottom: 1px solid black; /*  adds a small grey border-line to the bottom of each event to seperate them */
  padding-bottom: 10px; /* adds padding below each event to allow space */
  font-size: 20px
}

/* for hyperlink colour removal */
.event a{
  /* used to take away colour and underlining of hyperlinked text within events-container */
  color: inherit;
  text-decoration: none;
}

/* styling for team badges */
.event img, .team img {
  width: 50px; /* Set the width of the badge image */
  height: auto; /* Maintain aspect ratio */
}

/* font sizes for teams header and the events header */
.events-header, .teams-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* title text for teams div */
.teams-header {
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Bold font */
  margin-left: 30px;
  margin-top: 30px;
}

/* initialise margins for the team images */
.team img {
  margin-left: 60px;
  margin-bottom: 5px;
  margin-right: 10px;
}
                                          /* KitHistory styling page */

/* most elements here are declared in kits.js as they were dynamically created when the JSON file was grabbed */
.kit-set {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px 20px 10px;
  display: flex;
  flex-direction: row; /* display the items horizontally */
  align-items: center; /* center content vertically */
  justify-content: center; /* centers content horizontally */
  position: relative; 
}

/* styling for the images in the kit set */
.kit-set img {
  width: 150px; /* Set the width of each image */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Add space between images */
}

/* specifies what type of kit it is (home/away/third) */
.kit-description {
  font-size: 14px;
  text-align: center;
}

/* specifies year of kit, year is specified for each homekit on the JSON file */
.year {
  font-weight: bold;
  font-size: 30px;
  position: absolute; /* Position absolute */
  /* margin-top and margin-left didnt work so had to change */
  top: 20px; 
  left: 20px;
  float: left; /* floats to the top left of the page */
}

